<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\CustomerData\DefaultItem">
        <plugin name="minicart_product_stock" type="Nikal\Minicart\Plugin\ProductStock" />
    </type>
    <type name="Magebees\QuotationManagerPro\CustomerData\DefaultItem">
        <plugin name="minicart_quote_product_stock" type="Nikal\Minicart\Plugin\ProductQuoteStock" />
    </type>
</config>