/*--------------------------------------------------
Base
--------------------------------------------------*/
.page-wrapper {

    .ie11 &{
        display: block;
    }
}


%content,
.content {
    width: 100%;
}

.contact-index-index, .customer-account-forgotpassword {
    .page-wrapper {
        > .page-main {
            padding: 0 15%;
            @include xs {
                padding: 0 15px;
            }
        }
    }
}