/*--------------------------------------------------
Category listing
--------------------------------------------------*/

.products-grid {

    .product-items {

        .product-item-link{
            font-size: 20px;
            color: $nikal-text-color;
            font-family: $font-fam-base;
            font-weight: 100;
            @include xxs {
                font-size: 12px;
            }
        }
    }
}

.product-items {

    .product-item {

        .product-item-info{
            &:hover {
                height: auto;

                .actions-buttons{
                    display: none;
                }
            }

            &.item-out-of-stock {

                .product-item-details,
                .product-img {
                    opacity: 1;
                }

                .product-item-photo{
                    opacity: .5;
                }
            }
        }

        .actions-buttons{
            display: none;

            @include sm {
                display: none;
            }
        }

        .product-item-inner{
            display: none;
        }

        .stock.unavailable{
            background-color: transparent;
            width: 100%;
            z-index: 1;
            padding: 0 30px;
            box-sizing: border-box;

            span{
                font-size: 40px;
                font-family: $font-fam-base;
                text-transform: uppercase;
                color: $nikal-main-color;

                @include lg {
                    font-size: 30px;
                }

                @include md {
                    font-size: 20px;
                }
            }
        }

        .product-sku{
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 15px;
            text-transform: uppercase;
            color: $nikal-main-color;
            font-size: 14px;
            transform: rotate(-90deg) translate(-100%, 0%);
            transform-origin: 0 0;

            @include xxs {
                display: none;
                font-size: 10px;
            }
        }

        .product-item-details{
            padding: 0 10%;
        }

        .product-item-name {
            text-align: left;
        }

        .salebox-new{
            display: none;
        }

        .price-box-list{
            text-align: left;
            align-items: left;
            justify-content: left;
        }

        .special-price{
            .price{
                color: $nikal-text-color;
            }
        }

        .old-price{
            .price-wrapper{
                color: $nikal-main-color;
                text-decoration: line-through;
                font-weight: bold;
            }
            .price{
                color: $nikal-text-color;
                text-decoration: none;
                font-weight: bold;
            }
        }

        .price-box{

            >span{
                margin: 0 5px 0 0;
            }
        }

        .price{
            font-size: 20px;
            color: $nikal-text-color;

            @include xxs {
                font-size: 12px;
            }
        }

        .swatch-attribute-options {

            .image,
            .color {
                min-width: 18px;
                width: 18px;
                height: 18px;
            }
        }
    }
}

.toolbar-products {
    .sidebar-actions{
        display: none;

        @include xs {
            display: flex;
            text-transform: uppercase;
        }
    }

    .toolbar-sorter {

        .sorter-label {
            font-size: 15px;
            text-transform: uppercase;
            flex: 0 1 120%;
            min-width: 100px;
        }

        .sorter-options {
            border-bottom: 1px solid $nikal-main-color;
            font-size: 15px;
            font-weight: 100;
        }

        select{
            min-width: 130px;
            color: $nikal-main-color;
            background-image:
            linear-gradient(45deg, transparent 45%, $nikal-main-color 55%),
            linear-gradient(135deg, $nikal-main-color 55%, transparent 45%);


            @include xxs{
                min-width: auto;
            }
        }
    }
}
