/*--------------------------------------------------
Form
--------------------------------------------------*/
select {
    padding-right: 15px;
    padding-left: 0;
    border: none;
    border-bottom: 1px solid $nikal-main-color;
    font-size: 15px;
    color: $nikal-main-color;
    background-image:
        linear-gradient(45deg, transparent 45%, $nikal-main-color 55%),
        linear-gradient(135deg, $nikal-main-color 55%, transparent 45%);
    background-size:
        5px 5px,
        5px 5px;
    background-position:
        calc(100% - 10px) 50%,
        calc(100% - 5px) 50%;
    option{
        background: $nikal-background-color;
    }

    &:focus {
        color: $nikal-main-color;
        border-bottom: 1px solid $nikal-main-color;
    }

    &::-ms-expand {
        display: none;
    }
}

@include inputs {
    border: none;
    border-bottom: 1px solid $nikal-main-color;
    color: $nikal-text-color;

    &:focus {
        border-color: $nikal-main-color;
    }
}