/*--------------------------------------------------
Form
--------------------------------------------------*/
select {
    padding-right: 15px;
    padding-left: 0;
    border: none;
    border-bottom: 1px solid $nikal-main-color;
    font-size: 15px;
    color: $nikal-main-color!important;
    background-image:
        linear-gradient(45deg, transparent 45%, $nikal-main-color 55%),
        linear-gradient(135deg, $nikal-main-color 55%, transparent 45%);
    background-size:
        5px 5px,
        5px 5px;
    background-position:
        calc(100% - 10px) 50%,
        calc(100% - 5px) 50%;
    option{
        background: $nikal-background-color;
    }

    &:focus {
        color: $nikal-main-color;
        border-bottom: 1px solid $nikal-main-color;
    }

    &::-ms-expand {
        display: none;
    }
}

@include inputs {
    border: none;
    border-bottom: 1px solid $nikal-main-color;
    color: $nikal-text-color;

    &:focus {
        border-color: $nikal-main-color;
    }
}

input[type="checkbox"] {
    + label {
        float: none;

        &:before {
            background-color: $white;
            width: 20px;
            height: 20px;
            box-sizing: border-box;
        }

        @include material-icon($checkbox-icon-name, after, 12px);

        &:after {
            line-height: 17px;
            text-align: center;
            font-weight: bold;
            font-size: 17px;
            padding: 3px;
        }
    }

    &:hover {
        + label {
            &:before {
                border: $checkbox-border-hover;
            }
        }
    }

    &:checked{

        + label {

            &:before {
                background-color: $checkbox-bg-active;
                border: $checkbox-border-active;
            }

            &:after {
                color: $checkbox-icon-color-active;

            }
        }
    }
}

label{
    font-family: $font-fam-secondary;
}