/*--------------------------------------------------
Header
--------------------------------------------------*/
@import "../variables";
$dropdowns-background: rgba(0,0,0,0.2);

$dropdowns-border-color: #000;
$header-text-color: #000;
$details: #0234fc;
$background-image: url('../images/home-bg-light.jpg');
$mobile-header-bg-color: initial;//#fff;

$header-text-color-home: #fff;
$dropdowns-border-color-home: #fff;
$details-home: #fff;
$background-image-home: url('../images/home-bg.png');
$minicart-planets-bg: #fff;
$minicart-planets-bg-home: #FFF;
$minicart-planets-bg-mobile: #FFF;
body {
  &.cms-home {
    &.navigation-open, &.scroll-on{
      .page-wrapper {
        .page-header{
          color: $nikal-text-color;
          transition: color .3s ease-in-out;
          a,
          button,
          .material-icons{
            color: $nikal-text-color;
            transition: color .3s ease-in-out;
          }
          .logo svg path {
            fill: $nikal-text-color !important;
            transition: fill .3s ease-in-out;
          }
          .switchers {
            z-index: 1;
            .switcher {
              strong {
                span {
                  color: $nikal-text-color;
                  transition: .3s ease-in-out;
                }
              }
              .material-icons{
                color: $nikal-text-color;
                transition: color .3s ease-in-out;
              }
              .options {
                ul {
                  border: 1px solid $nikal-text-color;
                  transition: color .3s ease-in-out;
                }
                a {
                  color: $nikal-text-color;
                  border-bottom: 1px solid $nikal-text-color;
                  transition: color .3s ease-in-out;
                }
                .switcher-trigger {
                  strong {
                    border-bottom-color: $nikal-text-color;
                    transition: color .3s ease-in-out;
                  }
                }
              }
              &.switcher-currency {
                strong.change, ul {
                  li {
                    > a {
                      border-bottom-color: $nikal-text-color;
                      transition: color .3s ease-in-out;
                    }
                  }
                }
              }
            }
          }
        }
        .action.showcart {
          #circle-orbit-container {
            .orbit:not(.inner) {
              border: 1px solid $nikal-text-color;
              .cirlces {
                border: 1px solid $nikal-text-color;
              }
            }
          }
        }
      }
    }
    .page-wrapper {
      background-image: $background-image-home;
      .page-header {
        color: $header-text-color-home;
        @media screen and (max-width: $sm-width) {
          color: $header-text-color;
        }
        .switchers {
          .switcher {
            strong {
              span {
                color: $header-text-color-home;
                @media screen and (max-width: $sm-width) {
                  color: $header-text-color;
                }
              }
            }
            .material-icons{
              color: $details-home;
              @media screen and (max-width: $sm-width) {
                border-bottom-color: $details;
              }
            }
            .options {
              ul {
                background: $dropdowns-background;
                border: 1px solid $details-home;
                li {
                  &:hover{
                    background: $dropdowns-background;
                  }
                }
              }
              a {
                color: $header-text-color-home;
                @media screen and (max-width: $sm-width) {
                  color: $header-text-color;
                }
              }
              .switcher-trigger {
                strong {
                  border-bottom-color: $details-home;

                  @media screen and (max-width: $sm-width) {
                    border-bottom-color: $details;
                  }
                }
              }
            }
            &.switcher-currency {
              strong.change, ul {
                li {
                  > a {
                    border-bottom-color: $details-home;
                    @media screen and (max-width: $sm-width) {
                      border-bottom-color: $details;
                    }
                  }
                }
              }
            }
          }
        }
        a,
        button,
        .material-icons{
          color: $header-text-color-home;
          @media screen and (max-width: $sm-width) {
            //color: $header-text-color;
            &.section-close .material-icons{
              color: $header-text-color-home;
            }
          }
        }
        .logo svg path {
          fill: $header-text-color-home !important;

          @media screen and (max-width: $sm-width) {
            //fill: $header-text-color !important;
          }
        }
      }
    }
    .action.showcart {
      #circle-orbit-container {
        .orbit:not(.inner) {
          border: 1px $details-home solid;
          @media screen and (max-width: $sm-width) {
            border: 1px solid #fff; //$details;
          }

          .cirlces {
            border: 1px solid $details-home;
            background-color: $minicart-planets-bg-home;
            @media screen and (max-width: $sm-width) {
              background-color: $minicart-planets-bg-mobile;
              border: 1px solid #fff; //$details;
            }
          }

          .counter {
            color: $details-home;
            @media screen and (max-width: $sm-width) {
              color: $details;
            }
          }
        }
      }
    }
  }
  &.scroll-on{
    .page-wrapper {
      .page-header{
        background: $nikal-background-color;

        .ie11 &{
          max-width: none;
        }

        >.content{
          padding: 0 20px;

          .ie11 &{
            text-align: left;
          }
        }
      }
    }
  }
  &:not(.cms-home) {
    .page-wrapper {
      background-image: $background-image;
      .page-header {
        color: $header-text-color;
        span {
          font-size: $header-desktop-font-size;
        }
        @media screen and (max-width: $sm-width) {
          span {
            font-size: $header-mobile-font-size;
          }
        }
        .switchers {
          .switcher {
            strong {
              span {
                color: $header-text-color;
              }
            }
            .material-icons{
              color: $details;
            }
            .options {
              ul {
                background: $dropdowns-background;
                border: 1px solid $details;
                li {
                  &:hover{
                    background: $dropdowns-background;
                  }
                }
              }
              a {
                color: $header-text-color;
              }
              .switcher-trigger {
                strong {
                  border-bottom-color: $details;
                }
              }
            }
            &.switcher-currency {
              strong.change, ul {
                li {
                  > a {
                    border-bottom-color: $details;
                  }
                }
              }
            }
          }
        }
        a,
        button,
        .material-icons{
          color: $header-text-color;
        }
      }
    }
    .action.showcart {
      #circle-orbit-container {
        .orbit:not(.inner) {
          border: 1px $details solid;

          .cirlces {
            border: 1px solid $details;
          }

          .counter {
            color: $details;
          }
        }
      }
    }
  }

  .page-wrapper {
    background-size: cover;
    padding-top: 170px;
    background-repeat: no-repeat;
    @media screen and (max-width: $sm-width) {
      padding-top: 130px;
    }
    #esa-header {
      background-color: #222;
      display: flex;
      position: relative;
      height: 60px;
      color: #fff;
      align-items: center;
      justify-content: flex-start;
      padding: 0 20px;
      border-bottom: 4px solid #CCC;
      #esa-header--logo {
        height: 30px;
        margin-left: auto;
        padding-left: 20px;
      }
    }
    .top-banner {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 60px;
      border-bottom: 4px solid #cccccc;
      background-color: #000;
      box-sizing: border-box;
      z-index: 1;
      @media screen and (max-width: $sm-width) {
        position: fixed;
        z-index: 2;
      }
    }

  }
}

.page-header {
  padding-top:13px;
  top: 60px;
  @media screen and (max-width: $sm-width) {
    padding: 10px 0px;
    height: 70px;
    //padding-top: 3px;
  }

  body.scroll-on &{
    padding: 50px 0;
    height: 160px;
    top: 0;
    @media screen and (max-width: $sm-width) {
      padding: 10px 0;
      height: 70px;
      top: 60px;
    }
  }

  background: transparent;
  @media screen and (max-width: $sm-width) {
    position: fixed;
    top: 60px;
    background-color: $mobile-header-bg-color;
    padding-bottom: 5px;
    padding: 10px 0px;
    border-bottom: 0px solid #cccccc;
  }
  .block-search {
    @media screen and (max-width: $xs-width) {
      //display:none
    }
  }
  .switchers {
    max-width: 100%;
    width: 100%;
    flex: inherit;
    justify-content: flex-end;
    z-index: -1;

    .switcher {
      strong {
      }
      .options {
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
        .ui-dialog {
          z-index: 1;
        }
        ul {
          border-bottom: 0;
          li {
          }
          a {
            span {
              font-size: $header-switcher-font-size;
            }
          }
        }
        .switcher-trigger {
          &.active {
            strong {
              background: transparent;
            }
          }
          strong {
            min-width: 46px;
            display: flex;
            justify-content: space-between;
            padding: 0;
            span {
              padding: 0;
            }
          }
        }
      }
      &.switcher-shipping {
        display: none;
      }
      &.switcher-currency {
        strong.change, ul {
          > span, > li {
            padding-left: 5px;
            > span, > a {
              font-size: 0px;

            }
          }
          &.view-EUR, li.view-EUR {
            > span {
              > span {
                &:before {
                  content: '€';
                  font-size: initial;
                }
              }
            }
            > a {
              &:before {
                content: '€\7C\a0\a0';
                font-size: initial;
              }
            }
          }

          &.view-USD, li.view-USD {
            > span{
              > span{
                &:before {
                  content: '$';
                  font-size: initial;
                }
              }
            }
            > a {
              &:before {
                content: '$\a0\a0';
                font-size: initial;
              }
            }
          }

          li {
            padding-left: 0px;
            > span{
              > span{
                font-size: initial;
              }
            }
            > a {
              font-size: initial;
            }
          }
        }
      }
      &.switcher-language {
        .switcher-label {
          display: none;
        }
        img {
          max-height: 13px;
        }
        a span {
          text-transform: uppercase;
          text-align: right;
        }
      }
    }

  }
  .header.content {
    display: block;
    padding: inherit;
    text-align: initial;
    @media screen and (max-width: $sm-width) {
      padding: 0 20px;
    }
    .logo {
      svg {
        transform: scale(1.7, 1.7);
        margin: -8px 30px;
        @media screen and (max-width: $sm-width) {
          fill: $header-text-color !important;
          transform: scale(1, 1);
          margin: 3px -15px;
        }
      }
      img {
        object-fit: contain;
        width: 150px;
        position: absolute;
        top: -15px;
        @media screen and (max-width: $sm-width) {
          width: 130px;
          height: 40px;
          top: 5px;
        }
      }
    }
  }
  .nav-sections {
    position: relative;
    z-index: -1;

    @include sm {
      z-index: 1;
    }
  }
  .panel.header {
    .header.links {
      .authorization-link {
        .material-icons {
          display: none;
        }
      }
    }
  }
  .panel.wrapper {
    z-index: 0;
    min-height: 70px;
  }
}

.action.showcart {
  align-items: center;
  justify-content: center;
  display: flex;
  #circle-orbit-container {
    position: relative;
    height: 45px;
    width: 45px;
    .orbit {
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 100%;
      &.inner {
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 4;
      }
      &.middle {
        top: 10px;
        left: 10px;
        width: 25px;
        height: 25px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        transition: 0.3s linear;
      }
      &.outer {
        width: 45px;
        height: 45px;
        left: 1px;
        top: 1px;
        border-width: 0px;
        -webkit-transform: rotate(190deg);
        transform: rotate(190deg);
        transition: 0.2s linear;
      }
      .cirlces {
        position: absolute;
        left: 0px;
        height: 5px;
        width: 5px;
        border-radius: 100%;
        background-color: $minicart-planets-bg;
        @media screen and (max-width: $sm-width) {
          background-color: $minicart-planets-bg-mobile;
        }
        &.middle {
          top: 18px;
        }
        &.outer {
          top: 6px;
        }
      }
      .counter {
        position: relative;
        top: 1px;
        left: 1px;
        right: 0px;
        bottom: 0px;
        background: transparent;
      }
    }
  }
  &:hover {
    #circle-orbit-container {
      .orbit {
        &.middle {
          -webkit-transform: rotate(10deg);
          transform: rotate(270deg);
        }

        &.outer {
          -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
        }
      }
    }
  }
  .text {
    padding-right: 8px;
  }
}
body.ajax-loading {
  .action.showcart {
    #circle-orbit-container {
      .orbit {
        &.middle {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-animation: spin-right 5s linear infinite;
          animation: spin-right 5s linear infinite;
        }

        &.outer {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-animation: spin-left 8s linear infinite;
          animation: spin-left 8s linear infinite;
        }
      }
    }
  }
}
/* ---------- Animation ---------- */
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* ---------- Animation ---------- */
@-webkit-keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
