/* extend styles for Magebees_QuotationManagerPro */
/* miniquote */
.miniquote-wrapper {

    .actions{
        .secondary{
            display: none;
        }
    }

    .action.showquote {
        display: flex;
        margin-top: 0;

        @include xs {
            display: none;
        }

        &:before{
            display: none;
        }

        &.active,
        &:hover{
            &:before{
                display: none;
            }
        }

        &.active{
            display: flex;
            margin-bottom: 0;
        }

        .text{
            width: auto;
            position: static;
            height: auto;
            padding-right: 8px;
        }

        .counter.qty{
            display: inline;
        }

        .counter-number{
            font-size: 10px;
            font-weight: bold;
        }
    }

    .block-miniquote{
        position: static;
        padding: 0;
        margin: 0;
        width: auto;
        border: none;
        box-shadow: none;
        height: 100%;
        box-sizing: border-box;

        > div {
            display: flex;
            flex-flow: column nowrap;
            height: 100%;
            width: 100%;
        }

        .miniquote-items-wrapper {
            flex: 1 0 auto;
            overflow: auto;
            margin: 0;
            padding: 0;
            border: none;
        }

        .block-content {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            flex: 1;
            .details-qty {
                display: flex;
                flex-flow: row nowrap;
                margin: 0;

                @include sm {
                    margin-bottom: 10px;
                }

                @include xs {
                    max-width: 100%;
                }

                .label {
                    padding: 0;
                    font-size: 13px;
                    color: $font-base;
                    font-family: $font-fam-base;
                    margin-right: 10px;
                }

                input {
                    min-width: 24px;
                    height: 24px;
                    padding: 0 10px;
                    text-align: center;
                    font-family: $font-fam-base;
                }
            }

            .qty {
                padding: 0;

                &.control {
                    display: flex;
                    justify-content: flex-start;
                    max-width: 90px;

                    .qty-add,
                    .qty-sub {
                        display: flex;

                        > i {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }

            .options {

                @include xs {
                    flex-flow: column nowrap;
                }

                span {
                    > span {
                        display: none;
                    }
                }

                .content {
                    margin: 10px 0;
                    padding: 0;
                }

                .subtitle {
                    display: none;
                }

                .list {
                    font-size: 13px;
                    margin-bottom: 0;
                }

                .label {
                    font-weight: 400;
                    margin-right: 5px;
                    font-family: $font-fam-base;

                    &:after {
                        content: ':';
                    }
                }

                .values {
                    font-weight: 600;
                    color: $font-base;
                    margin-bottom: 0;
                    font-family: $font-fam-base;

                    span {
                        &:after {
                            background-color: $black;
                            content: '';
                            width: 1px;
                            height: 10px;
                            margin: 0 5px;
                            display: inline-block;

                            @include xs {
                                content: none;
                            }
                        }
                    }

                    &:last-child {
                        span {
                            &:after {
                                content: none;
                            }
                        }
                    }
                }
            }

            .product-item {
                .product {
                    display: flex;
                    .product-item-details{
                        margin-left: 30px;
                        padding: 0;
                        flex: 1;

                        @include xs {
                            margin-left: 15px;
                        }

                        .product-item-name {
                            display: flex;

                            a {
                                font-size: 13px;
                                font-weight: 500;
                                color: $black;
                                text-transform: uppercase;
                                font-family: $font-fam-base;
                            }
                        }

                        .actions {
                            font-family: $font-fam-base;
                            height: 24px;
                            margin-top: 0;

                            a,
                            button,
                            i {
                                height: 24px;
                                width: 24px;
                                text-align: center;
                                line-height: 24px;
                                opacity: 1;
                                color: $font-base;
                            }

                            .primary {
                                padding-right: 12px;
                                border-right: 1px solid #d8d8d8;
                            }

                            .secondary {
                                padding-left: 12px;
                            }
                        }
                    }
                }
            }
            .product-item-pricing {

                .price {
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 2.14;
                    font-family: $font-fam-base;
                    color: $bg-cta;
                }
            }

            .actions-wrapper {
                display: flex;
                justify-content: space-between;
                flex-flow: row nowrap;

                @include sm {
                    flex-flow: row wrap;
                }
            }
        }

        .block-title {

            .qty {
                font-size: 12px;
                font-weight: 600;
                font-family: $font-fam-base;
                background: $bg-cta;
                width: 16px;
                height: 16px;
                color: $white;
                border-radius: 100%;
                text-align: center;
                line-height: 16px;
                margin-left: 12px;
            }

            .products {
                font-family: $font-fam-base;
                color: $font-base;
                font-size: 12px;
                margin-left: 7px;
                flex: 1;
            }
        }

        .subtitle.empty{
            font-size: 16px;
            padding: 0;
        }

        .bottom-miniquote {
            width: 100%;
            border-top: 1px solid $bg-separator;
            .actions {
                .primary {
                    .action.primary.checkout{
                        @extend %btn;
                        font-size: $font-size-sm-uppercase;
                    }
                }
            }
            .subtotal {
                display: flex;
                justify-content: center;
                text-align: left;
                margin: 0;

                span {
                    > span {
                        margin: 0 10px;
                        font-size: 18px;
                        font-weight: 500;
                        font-family: $font-fam-base;
                        color: $black;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

}

.miniquote-items{
    max-height: none;
    overflow: initial;
    .action{
        &.delete{
            &:before{
                display: none;
            }
        }

        &.edit{
            &:before{
                background: url(../images/edit.png) no-repeat 0 0;
                width: 24px;
                height: 22px;
                margin-top: -3px;
            }
        }
    }
}

.block-miniquote {
    .items-total{
        display: none;
    }
}

.quotation-quote-index {

    @include md {
        .item{
            width: auto!important;
        }
    }

}

/* product page */
#magebees-addtoquote-button{
    @extend %btn;
    font-size: $font-size-sm-uppercase;
    background: transparent;

    &:hover,
    &:focus {
        background: $nikal-main-color;
        border: 2px solid $nikal-main-color;
        color: $white;
    }
}

/* Manage Quotations */
.quotation-customer-quotehistory {

    [class*="-products-toolbar"] {
        margin: 30px 0 0;

        .pager {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .toolbar-amount{
                font-weight: 500;
            }

            .limiter {
                display: flex;
                align-items: center;
                font-family: $font-fam-secondary;

                select {
                    margin: 0 0 0 10px;
                }
            }
        }
    }

    .table {
        width: 100%;
        font-family: $font-fam-base;

        @include xs {
            width: 770px
        }

        thead {
            background-color: $nikal-background-color;

            tr {
                th {
                    text-transform: uppercase;
                    font-weight: 500;
                    letter-spacing: 1px;
                    text-align: left;
                    padding: 3px 5px 1px;
                    font-size: $font-size-sm-uppercase;
                    color: $nikal-text-color;

                    @include md {
                        font-size: 13px;
                    }
                }
            }
        }

        tbody {
            tr {
                border: solid 1px $nikal-background-color;

                td {
                    width: auto;
                    line-height: 1.62;
                    letter-spacing: 1px;
                    text-align: left;
                    padding: 2px 5px;
                    font-family: $font-fam-secondary;
                    font-size: $font-size-sm;
                    color: $nikal-text-color;

                    @include md {
                        font-size: 13px;
                    }
                }
            }
        }

        tfoot{
            font-family: $font-fam-secondary;

            tr{
                th{
                    padding: 2px 5px;
                    @include md {
                        font-size: 13px;
                    }
                }
                td{
                    padding: 2px 5px;
                    @include md {
                        font-size: 13px;
                    }
                }
            }
        }

        .action{
            text-transform: uppercase;
            font-family: $font-fam-title;

            &.order{
                &:before {
                    content: '';
                    display: inline-block;
                    height: 12px;
                    margin: 0 6px;
                    width: 1px;
                    background: $nikal-main-color;
                }
            }

            span{
                text-decoration: underline;
            }
        }
    }

    .history.table-quote-items {
        tbody {
            td{
                padding: 14px 5px;
            }
        }
    }
}

.quotation-quote-view{

    .page-title-wrapper{
        margin-bottom: 30px;

        .print_pdf{
            @include xxs {
                float: none;
                margin-top: 20px!important;
            }
        }
    }

    .block-quote-details-view {
        margin-bottom: 50px!important;
        overflow: hidden;

        .block-title{
            font-size: 25px;
            line-height: 22px;
            margin-bottom: 20px;
        }

        h4{
            margin: 20px 0 10px;
        }
    }

    tfoot{
        font-family: $font-fam-secondary;

        tr{
            th{
                text-align: right;
            }
            td{
                text-align: left;
            }

            &.grand_total, &.grand_total_incl{
                th, td{
                    font-size: $font-size-m;
                    font-weight: 700;
                    padding: 7px 5px;
                }
            }
        }
    }

    .box-quote-billing-address{
        margin: 40px 0 0;
    }

    .quote-items{
        margin-bottom: 30px;
    }

    .remarks-with-quote{
        margin-bottom: 40px;
    }
}

#my-quote-table {
    td.col.subtotal{
       text-align: left;
    }
}

#messageform {
    margin-bottom: 50px;

    .block-quote-details-view{
        margin-bottom: 0!important;
    }

    fieldset{
        //background: none;
    }
}

.quote-msg-collection {
    margin: 0;

    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active{
        border: 1px solid $nikal-main-color;
        background: $nikal-main-color;
        font-weight: normal;
        color: #ffffff;
    }
}

