/*--------------------------------------------------
Nav Main
--------------------------------------------------*/
.navigation {
    background-color: transparent;

    > ul {

        > li {
            > a,
            > span {
                padding: 5px 15px;

                @include md {
                    padding: 5px;
                }
            }

        }
    }

    .level0{

        >a,
        >span{
            font-size: 16px;
            color: $nikal-text-color;
            border-bottom: 3px solid transparent;

            .ie11 &{
                letter-spacing: normal;
            }

            .cms-home &{
                color: #ffffff;

                @include sm {
                    color: $nikal-text-color;
                }
            }

            &:hover {
                color: $nikal-main-color;
            }

            @include sm {
                border-bottom: none;
            }

        }

        >span{
            &:hover {
                border-bottom: 3px solid $nikal-main-color;

                @include sm {
                    border-bottom: none;
                }
            }
        }

        > .submenu {

            > li {
                padding: 80px 15px;

                @include md {
                    padding: 30px 15px;
                }

                @include sm {
                    padding: 0;
                }

                > a {
                    margin-bottom: 35px;
                    font-size: 16px;
                    color: $nikal-main-color;

                    @include sm {
                        margin-bottom: 0;
                    }
                }


                &.item-type-cms-block{

                    img{
                        margin-bottom: 30px;
                        -webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.3);
                        -moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.3);
                        box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.3);
                    }

                    p{
                        font-size: 18px;
                    }

                    a{
                        font-size: 14px;
                        font-family: $font-fam-title;
                        color: $nikal-main-color;
                    }

                }
            }

            &:before {

                .ie11 &{
                    position: absolute;
                    left:57%;
                }
            }
        }
    }

    .level1 {

        > li {
            margin-bottom: 15px;

            @include sm {
                margin-bottom: 0;
            }

            > a {
                font-size: 16px;
            }
        }
    }

    //Mobile navigation

    @include sm {

        .ui-menu {

            .submenu {

                > li {
                    > a {
                        color: $font-base;
                        font-size: 16px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }

                    &.back-to-parent {

                        > a {
                            font-weight: 400;
                            font-size: 16px;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            color: $black;
                        }
                    }

                }
            }
        }
    }
}

/* Menu mobile */
.nav-sections {
    position: static;
}
