.customer-account-create,
.customer-account-login,
.b2bregister-account-create,
.doctorregister-account-create {

    .page-title {
        &:before{
            display: none;
        }
    }

    .info-list{
        margin: 0 0 40px;
    }

    .create {
        h2 {
            &:before{
                display: none;
            }
        }

        .fieldset {
            .field{
                margin: 0 0 20px;
            }
        }

        .choice {
            label,
            p {
                font-size: $font-size-sm;
            }
        }
    }



    .actions-toolbar-main {

        .secondary{
            padding: 10px 0;
        }

        .log, .login, .submit, .remind{
            font-size: 16px;
        }
    }

    .links-type {
        margin: 0 0 30px;

        .btn-link {
            display: block;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            padding: 10px 24px;
            border: 2px solid $nikal-main-color;
            margin-right: 20px;

            &:hover, &:active{
                border: 2px solid $nikal-main-color;
                color: #fff;
                background: $nikal-main-color;
            }
        }
    }
}
