<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "%store_name" store_name=$store.getFrontendName()}}: Quotation # {{trans "%increment_id" increment_id=$quote.increment_id}} is accepted @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var quote.getEmailCustomerNote()":"Email quote Note",
"var quote.increment_id":"quote Id"
} @-->

{{template config_path="design/email/header_template"}}
{{inlinecss file="Magebees_QuotationManagerPro::css/emailTemplate.css"}}
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans " Hello %name," name=$customer_name}}</p>			
        </td>
    </tr>
	<tr class="email-summary">
        <td>
            <h1>{{trans 'Quote <span class="no-link">#%increment_id</span>' increment_id=$quote.increment_id |raw}}</h1>          
        </td>		
    </tr>
	
	<tr>
		<td>
		<p>

					If you have any questions, please feel free to contact us at
					<a href="mailto:{{var store_email}}">{{var store_email}}</a>
					{{depend store_phone}} or by phone at <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
				</p>
		</td>
</tr>
	<tr>
		<td>
			
            <p>
              Your Proposal <span class="no-link">#{{var quoteId}}</span> has been accepted by the {{var owner_name}}
            </p>
			 <p>This note is sent to you, because the customer pressed the accept button in the Customer dashboard. The customer still needs to complete the checkout process, before the proposal is fully converted to an order.</p>
			{{if allow_customer_checkout}}
			 {{depend customer_id}} 
			<p>You can check quotation using <a href="{{var quoteAccessLink}}"> #{{var quoteId}}</a></p>
			<p><a href="{{var quoteAccessLink}}" class="buttoncheckout">Proceed To Checkout</a></p>
			{{/depend}}
			 {{depend is_guest}} 
			<p><a href="{{var guestCheckoutLink}}" class="buttoncheckout"><b>Proceed To Checkout</b></a></p>
			{{/depend}}						
{{/if}}
			</td>
	</tr>
   
</table>

{{template config_path="design/email/footer_template"}}