//--------------------------------------------------
// Nikal vars
//--------------------------------------------------

$nikal-main-color: #0234fc;
$nikal-background-color: #efeff1;
$nikal-text-color: #222323;
